# Justin's Queries

## \[Last 90 Days\] Mean, SD, and Cov of Purchases for Each Organization

In [ ]:
SELECT o.Name, AVG(t.Total) AS 'Mean Purchase Total', STDEV(t.Total) AS 'SD Purchase Total', STDEV(t.Total) / AVG(t.Total) AS 'CoV Purchase Total', COUNT(t.Total) AS 'Number of Purchases'
FROM Transactions t
    INNER JOIN
    TransactionView tv
    ON tv.TransactionId = t.TransactionId
    INNER JOIN
    dbo.path_organizations o
    ON tv.sitekey = o.OrganizationId
WHERE DATEDIFF(day, tv.Received,GETDATE()) between 0 AND 90 AND tv.Approved = 2 AND tv.ResultType = 1
GROUP BY o.Name

Name,Mean Purchase Total,SD Purchase Total,CoV Purchase Total,Number of Purchases
,844.532201,223.54518153644386,0.2646970491731953,159
1,82.736190,170.75229754483797,2.0638163002772787,42
112121,240.143551,50.610385047274754,0.21075054831380732,245
123,106.439000,163.48276319571207,1.5359291537473303,20
13,84.693956,133.63411591837144,1.5778471360857371,915
1312,29.047902,14.299752668234285,0.4922817719584115,901
1989,145.748336,144.95431379798666,0.9945521010818721,1515
321321,52.416666,29.908435143845676,0.5705901848821456,24
Creative Engineers,82.691559,6.383549860878072,0.0771971158613429,436
Hello B. World,59.771250,30.103107783321754,0.50363858516129,8
Joebet Mutia,41.313773,99.37140441847747,2.4052851434914326,106
Joebet Mutia1,4005.466666,4661.358582869939,1.1637491886869042,15
Test 123,22.000000,NULL,NULL,1
TestOrganization,65.867500,36.93765050730757,0.5607871940988738,4
TestOrganization6,30.908333,6.277739773729596,0.20310832595629136,6
This is our Test Org,47.987500,30.85350304260441,0.6429487479573724,8

## \[Last 90 Days\] Busiest Day of Week

In [1]:
WITH DayofWeekList AS

    (SELECT o.Name, DATENAME(WEEKDAY, tv.Received) AS DayofWeek, COUNT(DATENAME(WEEKDAY, tv.Received)) AS Frequency

    FROM TransactionView tv INNER JOIN path_organizations o ON tv.SiteKey = o.OrganizationId

    WHERE DATEDIFF(day, tv.Received,GETDATE()) between 0 AND 90 AND tv.Approved = 2 AND tv.ResultType = 1 AND o.Name <> '' 

    GROUP BY o.Name, DATENAME(WEEKDAY, tv.Received))

SELECT d.Name, d.DayofWeek, d.Frequency

FROM DayofWeekList AS d 

JOIN 

    (SELECT d.Name, MAX(d.Frequency) AS MaxFrequency

    FROM DayofWeekList AS d

    GROUP BY d.Name) AS m

ON d.Name = m.Name AND d.Frequency = m.MaxFrequency

Name,DayofWeek,Frequency
This is our Test Org,Friday,4
321321,Monday,24
TestOrganization,Friday,4
Joebet Mutia1,Thursday,9
13,Monday,283
Hello B. World,Tuesday,4
Joebet Mutia,Monday,30
1,Thursday,23
112121,Monday,86
123,Thursday,4
Test 123,Wednesday,1
TestOrganization6,Tuesday,6
Creative Engineers,Tuesday,161
1989,Thursday,1079
123,Wednesday,4
1312,Friday,163

## \[Last 90 Days\] Most Popular Location

In [ ]:
WITH PostalZipCodeList AS

    (SELECT o.Name, PostalZipCode, COUNT(PostalZipCode) AS Frequency

    FROM TransactionView tv INNER JOIN path_organizations o ON tv.SiteKey = o.OrganizationId

    WHERE DATEDIFF(day, tv.Received,GETDATE()) between 0 AND 90 AND tv.Approved = 2 AND tv.ResultType = 1 AND o.Name <> '' AND tv.PostalZipCode <> '' 

    GROUP BY o.Name, PostalZipCode)

SELECT p.Name, p.PostalZipCode, p.Frequency

FROM PostalZipCodeList AS p

JOIN 

    (SELECT MAX(p.Frequency) AS MaxFrequency, p.Name

    FROM PostalZipCodeList AS p

    GROUP BY p.Name) AS m

ON p.Name = m.Name AND p.Frequency = m.MaxFrequency

Name,PostalZipCode,Frequency
TestOrganization,4114,2
1989,92618,1099
123,94545,14
1,92612,28
Joebet Mutia1,03010,7
13,92618,586
TestOrganization6,4114,6
112121,4114,243
This is our Test Org,92618,4
1312,4114,901
321321,11211,23
Creative Engineers,4114,8
TestOrganization,92618,2
Joebet Mutia,92618,18